[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-spreadsheet = "*"
google-auth-oauthlib = "*"
pandas = "*"
numpy = "*"

[dev-packages]
versionbump = "*"
pytest = "*"

[requires]
python_version = "3.8"
